<a href="https://colab.research.google.com/github/dbilllz101/ASI-Insurance/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np

# 1 load my dataset

In [7]:
df = pd.read_csv("/content/marketing_data.csv")

In [ ]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("/content/marketing_data.csv")
display(df.head())

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,1826,1970,Graduation,Divorced,"$84,835.00",0,0,6/16/14,0,189,...,6,1,0,0,0,0,0,1,0,SP
1,1,1961,Graduation,Single,"$57,091.00",0,0,6/15/14,0,464,...,7,5,0,0,0,0,1,1,0,CA
2,10476,1958,Graduation,Married,"$67,267.00",0,1,5/13/14,0,134,...,5,2,0,0,0,0,0,0,0,US
3,1386,1967,Graduation,Together,"$32,474.00",1,1,5/11/14,0,10,...,2,7,0,0,0,0,0,0,0,AUS
4,5371,1989,Graduation,Single,"$21,474.00",1,0,4/8/14,0,6,...,2,7,1,0,0,0,0,1,0,SP

#check data type

In [9]:
print("Columns in DataFrame:", df.columns.tolist())
print(df[['Dt_Customer', ' Income ']].dtypes)

Columns in DataFrame: ['ID', 'Year_Birth', 'Education', 'Marital_Status', ' Income ', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Response', 'Complain', 'Country']
Dt_Customer    object
 Income        object
dtype: object

#validate Dt_customer

In [10]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], errors='coerce')

print("Date range:", df['Dt_Customer'].min(), "to", df['Dt_Customer'].max())
print("Missing Dt_Customer:", df['Dt_Customer'].isnull().sum())

Date range: 2012-07-30 00:00:00 to 2014-06-29 00:00:00
Missing Dt_Customer: 0

/tmp/ipython-input-3821530833.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], errors='coerce')

validate Income

In [13]:
df[' Income '] = df[' Income '].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)
print(df[' Income '].describe())
print("Missing Income:", df[' Income '].isnull().sum())
print("Negative Income values:", (df[' Income '] < 0).sum())

count      2216.000000
mean      52247.251354
std       25173.076661
min        1730.000000
25%       35303.000000
50%       51381.500000
75%       68522.000000
max      666666.000000
Name:  Income , dtype: float64
Missing Income: 24
Negative Income values: 0

#2 clean education data

In [14]:
df['Education'] = df['Education'].str.strip().str.title()

education_map = {
    'Graduation': 'Graduate',
    '2Nd Cycle': 'Graduate',
    'Basic': 'Basic',
    'Phd': 'PhD',
    'Master': 'Master'
}

df['Education'] = df['Education'].replace(education_map)

#clean marital status

In [15]:
df['Marital_Status'] = df['Marital_Status'].str.strip().str.title()

marital_map = {
    'Married': 'Married',
    'Together': 'Married',   # Often grouped as similar household structure
    'Single': 'Single',
    'Alone': 'Single',
    'Divorced': 'Divorced',
    'Widow': 'Widowed',
    'Widower': 'Widowed',
    'Absurd': 'Other',
    'YoLo': 'Other'
}

df['Marital_Status'] = df['Marital_Status'].replace(marital_map)

#Compute group means

In [19]:
group_means = df.groupby(['Education', 'Marital_Status'])[' Income '].transform('mean')

#Input missing values

In [21]:
df[' Income '] = df[' Income '].fillna(group_means)

In [22]:
df[' Income '] = df[' Income '].fillna(df[' Income '].median())

#Validate the inputation

In [23]:
print("Remaining missing Income:", df[' Income '].isnull().sum())
print(df[['Education', 'Marital_Status', ' Income ']].head())

Remaining missing Income: 0
  Education Marital_Status   Income
0  Graduate       Divorced   84835.0
1  Graduate         Single   57091.0
2  Graduate        Married   67267.0
3  Graduate        Married   32474.0
4  Graduate         Single   21474.0